*{
    background-color: lightgrey;
}

main ul li{
    border-collapse: collapse;
    border: 3px solid rgb(110, 112, 226);
    margin: 50px;
    margin-left: 300px;
    font-size: 30px;

}

th, td{
    border: 2px solid rgb(81, 109, 126);
    padding: 20px;
    font-size: 20px;
}
header h1{
    font-size: 60px;
    text-align: center;
    font-family: monospace;
}
main ol{
    font-size: 30px;
    margin-left: 300px;
}
#p1{
    font-size: 30px;
    font-family: monospace;
    color: brown;
}
.list{
    font-style: italic;
}