*{
    background-color: gray;
}

main ul li{
    border-collapse: collapse;
    border: 3px solid purple;
    margin: 50px;
    margin-left: 300px;
    font-size: 30px;

}

th, td{
    border: 2px solid rgb(240, 43, 240);
    padding: 20px;
    font-size: 20px;
}
header h1{
    font-size: 60px;
    text-align: center;
    font-family: monospace;
}
